NEXT_PUBLIC_LIVEKIT_URL=wss://brisk-505qgdpu.livekit.cloud
API_URL=http://localhost:8787
NEXT_PUBLIC_API_URL=http://localhost:8787

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_placeholder
CLERK_SECRET_KEY=sk_test_placeholder
GOOGLE_CLIENT_ID=google-client-id-placeholder
GOOGLE_CLIENT_SECRET=google-client-secret-placeholder
